<button (click)="getBooksByTitle('u')" class="btn btn-primary"><i class="fa fa-trash" aria-hidden="true"></i>BOOKS BY TITLE</button>
<button (click)="getCustomersByAuthor('u')" class="btn btn-primary"><i class="fa fa-trash" aria-hidden="true"></i>BOOKS BY AUTHOR</button>
<div *ngFor="let item of booksByAuthor">{{item.author}}</div>
<button (click)="getCustomersByName('u')" class="btn btn-primary"><i class="fa fa-trash" aria-hidden="true"></i>CUSTOMER BY NAME</button>
<div *ngFor="let item of customersByTitle">{{item.fullName}}</div>
<div class="main">
  <div class="container">
    <h1 class="grow">Blue Hunter</h1>
    <hr>
    <h2 class="grow">Bookstore</h2>
    <hr>
    <div *ngFor="let books of booksByTitle" class="col-md-6">
      <div class="thumbnail">
        <img src="{{ books.img }}">
        <p class="title">{{ books.title }}</p>
        <p class="price grow">{{ books.price | currency}}</p>
        <p class="date">{{ books.yearPublished }}</p>
        <div class="rating">
          <h3> <span class="label label-default">{{ books.author }}</span></h3>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="me grow">
    <a href="#" target="_blank" class="paw">
      <i class="fa fa-code fa-2x"> </i> with <i class="fa fa-heart fa-2x"></i> by Mike Lima &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
      <i class="fa fa-paw fa-2x"></i> visit my portfolio 
  </a>
  <h6> * books not for sale</h6>
</div>